{% extends "layout.html" %}
{% block content %}
<script type=text/javascript>
  $(function() {
    $("#user").click(function() {
        $("#log-in").dialog( "open" );
    });

    $("#log-in").dialog({
      autoOpen: false,
      height: 200, 
      width: 400, 
      modal: true,
      buttons: {
          "Sign in/up": function() {
              var bValid = true;
              var username = $('input[name="username"]').val();
              bValid = bValid && username.length > 1;
              if (bValid) {
                  $.ajax({
                      type: "GET",
                      url: "/login",
                      contentType: "application/json; charset=utf-8",
                      data: { value: username },
                      success: function(data) {
                          $('#user').text(data.name);
                      },
                      error: function(xhr, status, e) {
                          alert('Ajax error: ' + status);
                      }
                    });
              };
              $( this ).dialog( "close" );
          },
          "Cancel": function() {
              $( this ).dialog( "close" );
          }
      }
    });

    $("#submit").click(function() {
        $.ajax({
            type: "GET",
            url: "/data/a",
            contentType: "application/json; charset=utf-8",
            data: { value: $('input[name="query"]').val() },
            success: function(data) {
                if (data.redirect) {
                    window.location.href = data.redirect;
                }
                else {
                    $.ajax({
                        type: "GET",
                        url: "/task",
                        data: {},
                        success: function(msg) {
                            $("#task").html(msg)
                        },
                        error: function(xhr, status, e) {
                            alert('Ajax error: ' + status);
                        }
                    })
                }
            },
            error: function(xhr, status, e) {
                alert('Ajax error: ' + status);
            },
        });     
    });

    $("#query").keyup(function(event) {
        if(event.keyCode ==13){
            $("#submit").trigger("click");
        }
    });

    var availableTags = [
        "ts:action_1",
        "ts:action_2",
        "ts:action_3"
    ];
    $("#query").autocomplete({
      source: availableTags
    });

    $( "#task_prog" ).progressbar({
      value: 37
    });

    $( "#micro_prog" ).progressbar({
      value: 37
    });

    $("#task_operator").tabs({
       collapsible: true         
    });

    $("#query").focus();
  });

</script>

<div id='top'>
    <span class='input' style='float: left'><big>Bing</big></span>
  <a href="#" id="user" style='float: right'>
    {% if user %}
        {{ user }} 
    {% else %}
        Log in    
    {% end %}
  </a><br />
  <div id="log-in" title="Log in">
    <form>
        <br />
        <label for="username">Name: </label>
        <input type="text" name="username" id="username">
    </form>
  </div>
  <br />
</div>

<div id='search'>
    <input type='text' size='50' id='query' name='query' class='.input'>
    <button type='button' id='submit' name='submit' class='.input'>
        <strong><big>Search</big></strong>
    </button>
    <br /><br />
</div>

<div id='task'>
{% if task %}   
    <div id='task_progress'>
        <span style='float: left'>{{ escape(task) }}: </span>
        <span id='task_prog' class='progress-label' style='float: left;'></span>
        <select id='task_method' name='Method' style='float: right'>
        {% for method in methods %}
            <option value="{{ escape(method) }}">{{ escape(method) }}</option>
        {% end %}
        </select>
        <span id='micro_prog' class='progress-label' style='float: right;'></span>
        <br />
    </div>
    <div id='task_operator' style='font-size: 62.5%'>
        <ul>
        {% for micro in micros %}
            <li><a href='#{{ escape(micro) }}'>
                {{ escape(micro) }}
            </a></li>
        {% end %}
        </ul>
        {% for micro in micros %}
        <div id='{{ escape(micro) }}'>
        {% for op in ops %}
            <p>{{ escape(op) }}</p>
        {% end %}
        </div>
        {% end %}
    </div>
{% end %}
</div>

<div id='searchResults'>
  <p style='color: grey'> {{ len(items) }} search results </p>
  {% for item in items %}
    <p>
      <a href='{{ escape(item["Url"]) }}'>
          {{ escape(item["Title"]) }}
      </a><br />
      <span style="color: green">{{ escape(item["DisplayUrl"]) }} </span><br />
      <small>{{ escape(item["Description"]) }}</small><br />
    </p>
  {% end %}
</div>
{% end %}
